<div class="wrapper fadeInDown ">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="../../assets/download.jpeg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form [formGroup]="forms">
            <div class="text-danger" *ngIf="error"><p>Incorrect Username Or Passowrd</p></div>
            <input type="text" id="username" class="fadeIn second" name="username" placeholder="username" formControlName="username">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" formControlName="password">
            <br/><br>
            <input type="submit" class="fadeIn fourth" value="Log In" (click)="onsubmit()">
        </form>

        <!-- Remind Passowrd -->
        

    </div>
</div>