<form  #f="ngForm">
     <h3>eneter a questionquestion</h3> 
    <input type="text" name="Question" ngModel required>
    <br/>     
    <h3>eneter a questionquestion NO:-</h3> 
    <input type="text" name="QuestionNO" ngModel required>
    <br/>    

    <br/>
    <h3>enter option  </h3>
    option A:-<input type="text"   name="option1" ngModel  required><br/>
    option B:-<input type="text" name="option2" ngModel required><br/>
    option C:-<input type="text" name="option3" ngModel required><br/>
    option D:-<input type="text"  name="option4" ngModel required><br/>

    Answer:-<input type="text"  name="Answer" ngModel required><br/>
    

    <button (click)="submit(f)">add</button>
</form>